<h1>Makersbnb</h1>

<a href="/sessions/new" class="btn">Login</a>

<a href="/users/new" class="btn">Sign Up</a>

<a href="/listings/new" class="btn">Add a listing</a>

<!-- <form action='/pick_one' method='post'>
  <h3>Player 1: <input type='text' name='name0'>
  <input type='submit' value='Play Against Master'>
</form></h3>
<form action='/pick_two' method='post'>
  <h3>Player 1: <input type='text' name='name1'>
  Player 2: <input type='text' name='name2'>
  <input type='submit' value='Play against each other'></h3>
</form> -->

  
<h1>Listings</h1>

<ul id='listings'>
  <% listingss.forEach(function(listing) { %>
      <li>Name : <%= listing.name; %></li>
      <li>Location : <%= listing.location; %></li>
      <li>Description : <%= listing.description; %></li>
      <li> Price per night: <%= listing.price; %></li>
      <li> Available from: <%= listing.from_dates; %></li>
      <li> to: <%= listing.to_dates; %></li>
      ---------------------------------------
  <% }); %>

</ul>

