<h1>Makersbnb</h1>

<a href="/sessions/new" class="btn">Login</a>

<a href="/users/new" class="btn">Sign Up</a>

<a href="/listings/new" class="btn">Add a listing</a>




<h1>Listings</h1>

<ul id='listings'>
  <% listingss.forEach(function(listing) { %>
      <li>Name : <%= listing.name; %></li>
      <li>Location : <%= listing.location; %></li>
      <li>Description : <%= listing.description; %></li>
      <li> Price per night: <%= listing.price; %></li>
      <!-- <% var url =' /bookig' + listing.id + '/success'%>
      <a href=<%= url %> class="btn">book</a> -->

      <form action='/booking/success' method='post'>
        <input type='hidden' name='listingId' value="<%= listing.id %>" >
        <input type='submit' value="Submit" >
      </form>

      ---------------------------------------
  <% }); %>

</ul>
