<h1>Makersbnb</h1>

<a href="/sessions/new" class="btn">Login</a>

<a href="/users/new" class="btn">Sign Up</a>

<a href="/listings/new" class="btn">Add a listing</a>




<h1>Listings</h1>

<ul id='listings'>
  <% listingss.forEach(function(listing) { %>
      <li>Name : <%= listing.name; %></li>
      <li>Location : <%= listing.location; %></li>
      <li>Description : <%= listing.description; %></li>
      <li> Price per night: <%= listing.price; %></li>
      <li> Available from: <%= listing.from_dates; %></li>
      <li> to: <%= listing.to_dates; %></li>

      <form action='/booking/success' method='post'>
        <input type='hidden' name='listingId' value="<%= listing.id %>" >
        <input type='submit' value="Submit" >
      </form>
      ---------------------------------------
  <% }); %>

</ul>
